TZ=Asia/Seoul

# LiteLLM
LITELLM_MASTER_KEY=CHANGE_ME
LITELLM_DB_PASSWORD=CHANGE_ME

# Open WebUI
OWEBUI_NAME=chat.example.com
CHAT_STREAM_RESPONSE_CHUNK_MAX_BUFFER_SIZE=33554432
## DB
OWEBUI_DB_NAME=owebui
OWEBUI_DB_USER=owebui
OWEBUI_DB_PASS=CHANGE_ME
## LiteLLM
OPENAI_API_BASE_URL=http://litellm:4000/v1
OPENAI_API_KEY=${LITELLM_MASTER_KEY}

# Elice Cloud
ELICE_API_KEY=CHANGE_ME

# BizRouter
BIZROUTER_API_KEY=CHANGE_ME

# NAVER CLOVA Studio
NAVER_OPENAI_API_KEY=CHANGE_ME

# Google Gemini
GEMINI_API_KEY=CHANGE_ME

# AWS Bedrock
AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME

# Azure OpenAI - Korea Central
AZURE_KR_OPENAI_API_KEY=CHANGE_ME
AZURE_KR_OPENAI_ENDPOINT=https://CHANGE_ME

# Azure OpenAI - US East 2
AZURE_US_OPENAI_API_KEY=CHANGE_ME
AZURE_US_OPENAI_ENDPOINT=https://CHANGE_ME
